<div class="flex gap-[6rem] py-5 justify-between">
  <p class="mx-0 my-auto cursor-pointer" [routerLink]="['']">Free Movie</p>

  <ul class="gap-8 text-base hidden sm:flex">
    <li><a [routerLink]="['movie']">Movies</a></li>
    <li><a [routerLink]="['tv']">TV</a></li>
    <li><a [routerLink]="['favorite']">My Favorites</a></li>
  </ul>

  <div class="sm:hidden">
    <button
      class="navbar-burger flex items-center text-white p-3"
      (click)="mobileSidebarHandler()"
    >
      <svg
        class="block h-4 w-4 fill-current"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>

  <div class="navbar-menu relative z-50" *ngIf="showMobileSidebar">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 left-0 bottom-0 flex flex-col w-4/6 max-w-sm py-6 px-6 bg-black overflow-y-auto"
    >
      <div class="flex items-center mb-8">
        <a class="mr-auto text-2xl font-bold leading-none" href="#">
          Free Movie
        </a>
        <button class="navbar-close" (click)="mobileSidebarHandler()">
          <svg
            class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              [routerLink]="['']"
              (click)="mobileSidebarHandler()"
              >Home</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              [routerLink]="['movie']"
              (click)="mobileSidebarHandler()"
              >Movie</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              [routerLink]="['tv']"
              (click)="mobileSidebarHandler()"
              >Tv</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              [routerLink]="['favorite']"
              (click)="mobileSidebarHandler()"
              >Favorite</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
